<!-- <div *ngIf="showSuccess" class="text-center bg-green-400 mb-4">
  Copy thành công
</div> -->
<form [formGroup]="form" class="max-w-md mx-auto" (submit)="addToList()">
  <div class="relative z-0 w-full mb-5 group">
    <input
      #titleTask
      id="title-task"
      class="form-input"
      [ngClass]="{
        error:
          (form.controls.title.dirty || form.touched) &&
          form.controls.title.errors
      }"
      placeholder=""
      formControlName="title"
    />
    <label
      for="title-task"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Tên task</label
    >
  </div>
  <small
    *ngIf="
      (form.controls.title.dirty || form.touched) && form.controls.title.errors
    "
    >{{ form.controls.title.errors | json }}</small
  >
  <div class="relative z-0 w-full mb-5 group">
    <textarea
      #content
      id="content"
      class="form-input"
      placeholder=""
      rows="5"
      formControlName="content"
    ></textarea>
    <label
      for="floating_email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Nội dung</label
    >
  </div>
  <div class="form-footer flex gap-2 justify-center">
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Thêm task
    </button>
  </div>
</form>
